@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.navBar {
  background-color: #212121;
  height: 50px;
  color: #fff;
  text-align: center;
}
.title {
	text-align: center;
	font-size: 150%;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#dashboardTitle {
	margin: 10px;
}

/*---Ruimte waar de datavisualisaties in zitten---*/
.chartHolder {
	border: solid 1px #eeeeee;
	margin-top: 10px;
	padding: 5px;
	background-color: #fff;
}

.chartTitle {
	text-align: center;
}

.gridIcon {
  width: 20%;
}

button {
  align-items: center;
}

/*mobile scherm*/
@media only screen and (max-width: 320px) {
	
	.gridContainer {
		display: grid;
  		grid-template-columns: auto auto;
  		padding: 10px;
  		grid-column-gap: 10px;
    	grid-row-gap: 10px;
	}

	.gridItem {
		background-color: rgba(255, 255, 255, 0.8);
  		border: 1px solid rgba(0, 0, 0, 0.8);
  		padding: 20px;
  		text-align: center;
	}

	.graphic-container {
		display: grid;
		grid-template-columns: auto;
	}
}

/*tablet*/
@media only screen and (min-width: 321px) and (max-width: 720px) {

	.gridContainer {
		display: grid;
  		grid-template-columns: auto auto;
  		padding: 10px;
  		grid-column-gap: 10px;
    	grid-row-gap: 10px;
	}

	.gridItem {
		background-color: rgba(255, 255, 255, 0.8);
  		border: 1px solid rgba(0, 0, 0, 0.8);
  		padding: 20px;
  		text-align: center;
	}

	.graphic-container {
		display: grid;
		grid-template-columns: auto;
		grid-column-gap: 10px;
	}

}

/*desktop*/
@media only screen and (min-width: 721px) {
	.gridContainer {
		display: grid;
  		grid-template-columns: auto auto auto auto;
  		padding: 10px;
  		grid-column-gap: 10px;
    	grid-row-gap: 10px;
	}

	.gridItem {
		background-color: rgba(255, 255, 255, 0.8);
  		border: 1px solid rgba(0, 0, 0, 0.8);
  		padding: 20px;
  		text-align: center;
	}

	.graphic-container {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
	}

}