@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}


/*------SIDEMENU---------*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/*-------END SIDE MENU----------*/


.navBar {
  background-color: #212121;
  height: 50px;
  color: #fff;
  text-align: center;
}
.title {
	text-align: center;
}

#wrapper {
	display: flex;
	flex-direction: column;
	transition: margin-left .5s;
    padding: 20px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*---Ruimte waar de datavisualisaties in zitten---*/
.canvas-holder {
	border: solid 1px #eeeeee;
	margin-top: 10px;
	padding: 5px;
	background-color: #fff;
}

.canvas-title {
	text-align: center;
}

.grid-icon {
  width: 20%;
}

/*mobile scherm*/
@media only screen and (max-width: 320px) {
	
	.grid-container {
		display: grid;
  		grid-template-columns: auto auto;
  		padding: 10px;
  		grid-column-gap: 10px;
    	grid-row-gap: 10px;
	}

	.grid-item {
		background-color: rgba(255, 255, 255, 0.8);
  		border: 1px solid rgba(0, 0, 0, 0.8);
  		padding: 20px;
  		text-align: center;
	}

	.graphic-container {
		display: grid;
		grid-template-columns: auto;
	}
}

/*tablet*/
@media only screen and (min-width: 321px) and (max-width: 720px) {

	.grid-container {
		display: grid;
  		grid-template-columns: auto auto;
  		padding: 10px;
  		grid-column-gap: 10px;
    	grid-row-gap: 10px;
	}

	.grid-item {
		background-color: rgba(255, 255, 255, 0.8);
  		border: 1px solid rgba(0, 0, 0, 0.8);
  		padding: 20px;
  		text-align: center;
	}

	.graphic-container {
		display: grid;
		grid-template-columns: auto;
		grid-column-gap: 10px;
	}

}

/*desktop*/
@media only screen and (min-width: 721px) {
	.grid-container {
		display: grid;
  		grid-template-columns: auto auto auto auto;
  		padding: 10px;
  		grid-column-gap: 10px;
    	grid-row-gap: 10px;
	}

	.grid-item {
		background-color: rgba(255, 255, 255, 0.8);
  		border: 1px solid rgba(0, 0, 0, 0.8);
  		padding: 20px;
  		text-align: center;
	}

	.graphic-container {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
	}

}